*, *:before, *:after {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button, input, select, textarea {
  font: inherit;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

nav ol,
nav ul {
  list-style: none;
}

a:not([class]) {
  /* default styles */
  text-decoration-skip-ink: auto;
}

a, a:visited {
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

[disabled] {
  cursor: not-allowed;
}

img,
video {
  max-width: 100%;
  display: block;
}

textarea {
  resize: vertical;
}

/* SVG fill falls back to text color */
svg:not([fill]) {
  fill: currentColor;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only--focus:focus {
  position: static;
  width: auto;
  height: auto;
}

/* dispatched single taps w/o delay */
a, area, button, input, label, select,
summary, textarea, [tabindex] {
  touch-action: manipulation;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color__bg: #fafafa;
}

html,
body,
#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: var(--color__bg);
  height: 100%;
}

.desktop-only {
  display: none;
}

a:not(:hover) {
  text-decoration: none;
}

.preview-font {
  /*
   * Normal sized text (14 point)
   * https://webaim.org/resources/contrastchecker/
   */
  font-size: 15px;
}

/*
 * Large text
 * at least 14 point and bold
 * or at least 18pt
 * https://webaim.org/resources/contrastchecker/
 */
.preview-font.-large {
  font-size: 24px;
}

.header {
  text-align: center;
}

.title {
  display: none;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5vh;
}

.layout {
  display: grid;
  grid-template-areas:
    'contrast'
    'inputs';
  height: 100%;
  min-width: 300px;
  overflow-y: hidden;
}

.header {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: inputs;
  background-color: lightpink;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  min-width: 220px;
  max-width: 285px;
}

.label {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  white-space: nowrap;
  padding: 0.3rem 0;
  /* width: 100px; */
}

.input {
  /* width: 50%; */
  width: 120px;
  margin-left: 0.75rem;
  padding: 0.2rem 0.75rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
}

.contrast {
  grid-area: contrast;
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contrast-container {
  text-align: left;
}

.contrast-output {
  text-align: center;
  font-size: 2.125rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 1.5rem;
}

.preview {
  display: none;
  grid-area: preview;
}

.preview-text {
  margin: 0.75rem 0;
}

.preview-text.-bold {
  font-size: 18.66px;
  font-weight: bold;
}

.preview-text.-input {
  border: 1px solid currentColor;
}

.rating {
  font-size: 4.5rem;
  /* font-size: 6rem; */
  line-height: 1;
  font-weight: 600;
  opacity: 0.75;
}

.rating-container {
  text-align: right;
  position: relative;
  /* width: 146px; */
}

.rating-label {
  /* font-size: 2rem; */
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.rating-label.-input {
  font-size: 15px;
  margin: 0.5rem 0;
  border: 1px solid currentColor;
  width: 20px;
}

@media screen and (min-width: 900px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: initial;
  }
  .title {
    display: block;
  }
  .layout {
    grid-template-areas:
      'inputs preview'
      'contrast contrast';
  }
  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contrast {
    background-color: lightsteelblue !important;
  }
  .rating-label {
    color: #222 !important;
  }
}


/*# sourceMappingURL=/src.e31bb0bc.css.map */